[Unit]  
Description=BLE Service for Soundepats Earbuds  
After=network.target  
  
[Service]  
ExecStart=/usr/local/bin/soundpeats
Restart=on-failure 
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus  

  
[Install]  
WantedBy=default.target  
